@{
    ViewData["Title"] = "Jiu Jitsu Gent - Platform";
}

<div id="header">
    <img src="~/images/jj_logo.png" alt="Jiu Jitsu Gent Logo" />
    <h1><strong>Taijitan</strong> Jiu Jitsu - Platform</h1>
    <i class="fas fa-envelope"></i>
</div>
<div id="banner">
    <div id="login">
        <form action="/" method="post">
            <input type="text" name="gebruikersnaam" value="" placeholder="e-mailadres" />
            <input type="password" name="wachtwoord" value="" placeholder="wachtwoord"/>
            <button>Log in</button>
            <span>wachtwoord vergeten?</span>


        </form>
    </div>
</div>