@using Microsoft.AspNetCore.Identity
@using Taijitan_Yoshin_Ryu_vzw.Models.Domain;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="gebruikerEmail">
                Ingelogd als @UserManager.GetUserName(User)
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Profiel aanpassen"><i class="fas fa-cog fa-lg"></i></a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Uitloggen"><i class="fas fa-power-off fa-lg"></i></button>
            </li>
        </ul>
    </form>
}
else
{

}