
@{
    ViewData["Title"] = "Index";
}
@section AddCss {
    <link rel="stylesheet" href="~/css/lesmateriaal.css" asp-append-version="true" />
}

    <div class="content-wrapper">
        <div class="kyu-nav">

        </div>
        <div class="thema-nav">

        </div>
        <div class="lesmateriaal-wrapper">

        </div>
    </div>

