
@{
    ViewData["Title"] = "Lesmateriaal";
}
@section AddCss {
    <link rel="stylesheet" href="~/css/lesmateriaal.css" asp-append-version="true" />
}

    <div class="lesmateriaalContent-wrapper">
        <div class="kyu-nav col-lg-2">

        </div>
        <div class="thema-nav col-lg-2">

        </div>
        <div class="lesmateriaal-wrapper col-lg-10" >

        </div>
    </div>

