<div class="lesmateriaal-content">
    <div>
        <iframe width="800" height="455" src="https://www.youtube.com/embed/@ViewBag.lesmateriaal.InhoudVideo" frameborder="0"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <img src="~/images/placeholder.jpg" alt="Alternate Text" />
        <img src="~/images/placeholder.jpg" alt="Alternate Text" />
        <img src="~/images/placeholder.jpg" alt="Alternate Text" />
    </div>
</div>