@model Taijitan_Yoshin_Ryu_vzw.Models.LesmateriaalViewModels.CommentaarViewModel
@{
    ViewData["Title"] = "Nieuwe commentaren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding: 5vw 7vw">
    <h2>Nieuwe commentaren</h2>
    <h3>@Model.Commentaren.Count() nieuwe commentaren</h3>
</div>


