#module_aanwezigheidRegistreren {
    background-image: url('/images/module_1.jpg');
}

#module_lesmateriaalRaadplegen {
    background-image: url('/images/module_2.jpg');
}

#module_overzichtAanwezigheden {
    background-image: url('/images/module_3.jpg');
}

#module_sessieStarten {
    background-image: url('/images/module_4.jpg');
}

#module_meldingenBijCommentaar {
    background-image: url('/images/module_5.jpg');
}

.userModule {
    height: 200px;
    width: 400px;
    background-color: #EEEEEE;
    text-align: center;
    margin: 25px;
    padding: 30px;
    display: table;
    background-size: cover;
}

.alert{
    margin: 0 auto;
}

    .userModule:hover {
        cursor: pointer;
        margin: 12.5px;
        height: 225px;
        width: 425px;
        padding: 12.5px;
    }

        .userModule:hover h5 {
            font-size: 1.8vw;
        }


    .userModule h5 {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-weight: bold;
        font-size: 1.5vw;
    }

.userModuleWrapper {
    display: flex;
    padding: 0 5vw 0 5vw;
    max-width: 100vw;
    flex-grow: 1;
    flex-wrap: wrap;
}

    .userModuleWrapper > a {
        text-decoration: none;
    }

.manage-wrapper {
    margin-top: 15vh;
}

.item {
    position: relative;    
}

.notify-badge {
    position: absolute;
    right: -20px;
    top: -5px;
    background: #9D9D9D;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}