body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 75px;
}

.body-content{
    position: relative;
    height: 80vh;
}

.content-wrapper {
    position: absolute;
    min-width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    background: white;
    border: none;
    box-shadow: 0px 3px 10px 0px rgba(207,207,207,1);
}

    .navbar > a:hover {
        color: red;
    }

.navbar-brand h1 strong {
    color: #336566;
    padding: 0;
    margin: 0;
}

.navbar-brand > h1 {
    font-weight: bold;
    font-size: 1.2vw;
    padding: 0;
    margin: 0;
    color: #9d9d9d;
}

.navbar-nav > li > button:active{
    outline: none;
}

.navbar-nav > li > a{
    padding: 15px 0 15px 25px;
}

.navbar-nav > li > a, .navbar-nav > li > button {
    color: #777777 !important;
    outline: none;
}

.navbar-nav > .gebruikerEmail
{
    line-height: 50px;
}

#banner {
    position: relative;
    background-image: url("../images/jj_banner.jpg");
    background-size: cover;
    min-height: 300px;
    min-width: 100%;
}

#login {
    position: absolute;
    min-height: 375px;
    min-width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 3vw 4vw;
    background: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

    #login button {
        margin: 0 auto;
        display: block;
        background: none;
        border: solid 1px #336566;
        color: #336566;
        padding: 5px 20px;
    }

    #login button:active{
        border-width: 2px;
        padding: 4.5px 19.5px;
    }

#login span{
    text-align: center;
    display: inline-block;
    width: 100%;
}

#login span:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer{
    text-align: center;
}


