@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section AddCss {
    <link rel="stylesheet" href="~/css/profiel.css" asp-append-version="true" />
}
<div class="manage-wrapper">
    <div>
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
