@page
@model IndexModel
@{
    ViewData["Title"] = "Persoonlijke gegevens";
}
<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-8">
        <form id="profile-form" method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@

            <div class="form-content">
                <div class="form-divider">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Voornaam"></label>
                        <input asp-for="Input.Voornaam" class="form-control" />
                        <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Naam"></label>
                        <input asp-for="Input.Naam" class="form-control" />
                        <span asp-validation-for="Input.Naam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.GeboorteDatum"></label>
                        <input asp-for="Input.GeboorteDatum" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.GeboorteLand"></label>
                        <input asp-for="Input.GeboorteLand" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.GeboorteStad"></label>
                        <input asp-for="Input.GeboorteStad " class="form-control" readonly="readonly" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Straat"></label>
                        <input asp-for="Input.Straat" class="form-control" />
                        <span asp-validation-for="Input.Straat" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-divider">
                    <div class="form-group">
                        <label asp-for="Input.HuisNummer"></label>
                        <input asp-for="Input.HuisNummer" class="form-control" />
                        <span asp-validation-for="Input.HuisNummer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Gemeente"></label>
                        <input asp-for="Input.Gemeente" class="form-control" />
                        <span asp-validation-for="Input.Gemeente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Postcode"></label>
                        <input asp-for="Input.Postcode" class="form-control" />
                        <span asp-validation-for="Input.Postcode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.TelefoonNummer"></label>
                        <input asp-for="Input.TelefoonNummer" class="form-control" />
                        <span asp-validation-for="Input.TelefoonNummer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.GsmNummer"></label>
                        <input asp-for="Input.GsmNummer" class="form-control" />
                        <span asp-validation-for="Input.GsmNummer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.RijksregisterNummer"></label>
                        <input asp-for="Input.RijksregisterNummer" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.EmailOuders"></label>
                        <input asp-for="Input.EmailOuders" class="form-control" />
                        <span asp-validation-for="Input.EmailOuders" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.InfoClubAangelegenheden"></label>
                <input asp-for="Input.InfoClubAangelegenheden" class="form-control" />
                <span asp-validation-for="Input.InfoClubAangelegenheden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.InfoFederaleAangelegenheden"></label>
                <input asp-for="Input.InfoFederaleAangelegenheden" class="form-control" />
                <span asp-validation-for="Input.InfoFederaleAangelegenheden" class="text-danger"></span>
            </div>

            <button type="submit">Opslaan</button><br /><br /><br />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}