@model int
@{
    ViewData["Title"] = "Leerkracht";
}
@section AddCss {
    <link rel="stylesheet" href="~/css/gebruiker.css" asp-append-version="true" />
}
<div class="content-wrapper">
    <h3>Modules voor de lesgevers</h3>
    <br />
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    <div class="userModuleWrapper">
        <a asp-controller="Overzicht" asp-action="Index">
            <div class="userModule" id="module_overzichtAanwezigheden">
                <h5>Overzicht aanwezigheden raadplegen</h5>
            </div>
        </a>
        <a asp-controller="Sessie" asp-action="Index">
            <div class="userModule" id="module_sessieStarten">
                <h5>Sessie starten</h5>
            </div>
        </a>
        <a asp-controller="Lesmateriaal" asp-action="NieuweCommentaren">
            <div class="userModule item" id="module_meldingenBijCommentaar">
                @if (Model > 0) {
                    <span class="notify-badge">@Model nieuwe commentaren</span>
                }                
                <h5>Melding bij nieuwe commentaar</h5>
            </div>
        </a>       
    </div>
</div>

