
@{
    ViewData["Title"] = "Leerkracht";
}

<div class="content-wrapper">
    <h3>Modules voor de lesgevers</h3>
    <br />
    <div class="userModuleWrapper">
        <div class="userModule" id="module_aanwezigheidRegistreren">
            <h5>Aanwezigheid registreren</h5>
        </div>
        <div class="userModule" id="module_overzichtAanwezigheden">
            <h5>Overzicht aanwezigheden raadplegen</h5>
        </div>
        <a asp-controller="Sessie" asp-action="Index">
            <div class="userModule" id="module_sessieStarten">
                <h5>Sessie starten</h5>
            </div>
        </a>
        <div class="userModule" id="module_meldingenBijCommentaar">
            <h5>Melding bij nieuwe commentaar</h5>
        </div>
    </div>
</div>

