
@{
    ViewData["Title"] = "Lid";
}

<div class="content-wrapper">
    <h3>Modules voor de leden</h3>
    <br />
    <div class="userModuleWrapper">
        <div class="userModule"  id="module_lesmateriaalRaadplegen">
            <h5>Lesmateriaal raadplegen</h5>
        </div>
    </div>
</div>
