
@{
    ViewData["Title"] = "Lid";
}
@section AddCss {
    <link rel="stylesheet" href="~/css/gebruiker.css" asp-append-version="true" />
}
<div class="content-wrapper">
    <h3>Modules voor de leden</h3>
    <br />
    <div class="userModuleWrapper">
        <a asp-controller="Lesmateriaal" asp-action="Index">
            <div class="userModule" id="module_lesmateriaalRaadplegen">
                <h5>Lesmateriaal raadplegen</h5>
            </div>
        </a>
    </div>
</div>
