
@{
    ViewData["Title"] = "Lid";
}

<h3>Modules voor de leden</h3>
<br />
<div class="userModuleWrapper">
    <div class="userModule">
        <h5>Lesmateriaal raadplegen</h5>
    </div>
    <div class="userModule">
        <h5>Lesmateriaal becommentariëren</h5>
    </div>
</div>
